<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysl.myandroidbase">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"> <!-- android:launchMode="singleTask" -->

        </activity>
        <activity android:name=".activity.SecondActivity" /> <!-- android:launchMode="singleTask" android:taskAffinity="com.app" -->
        <service android:name=".service.MyService" />

        <activity android:name=".activity.ServiceActivity" />

        <service android:name=".service.MyIntentService" />
        <service android:name=".service.ForegroundService" />
        <service android:name=".service.CancelNoticeService" />

        <activity android:name=".activity.Main2Activity"></activity>

        <service
            android:name=".service.MyAIDLService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".activity.WebViewActivity"></activity>
        <activity android:name=".handler.HandleActivity">

        </activity>
        <activity android:name=".myview.MyViewActivity">
        </activity>
        <activity android:name=".myview.MyViewGroupActivity">
        </activity>
        <activity android:name=".myview.MyDragViewActivity">
        </activity>
        <activity android:name=".eventbus.EventbusActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".eventbus.EventbusActivity2"/>
    </application>

</manifest>